.completionProgressBar{
    background-color: lightskyblue;
}
.completionProgresssGreenBar{
    width: 80%;
    height: 30px;
    background-color: limegreen;
}
.green{
    background-color: springgreen;
}
.red{
    background-color: indianred;
}
.taskDone{
    text-decoration: line-through;
}